$bg: #1d1d1c;
$yellow: #ffcf7a;

* {
  box-sizing: border-box;
}

.body {
  max-width: 1440px;
  margin: auto;

  font-family: 'Lab Grotesque', 'Arial', sans-serif;
  font-weight: 300;

  background-color: $bg;
  color: #ffffff;
}

.header {
  margin: 75px 123px 188px;

  background: url('../assets/img/bg/small-circle-gradient.png') no-repeat right 80px top 30px;
  background-size: 45%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 81px;

  &-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 277px;
  }
}

.logo {
  font-family: 'Scania Sans CY font', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 350%;
  letter-spacing: 0.105em;
  text-transform: uppercase;

  color: #ffffff;

  &-desc {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.05em;

    color: #6d6d6d;
  }
}

.nav {
  display: flex;
  column-gap: 40px;
  margin-left: auto;
  margin-right: 61px;

  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.call-link {
  display: inline-block;
  width: 50px;
  height: 50px;

  background-image: url('../assets/img/icons/tel.png');

  &:hover {
    box-shadow: 0 0 15px $yellow;
  }
}

.hero {
  padding-bottom: 20px;
  background: url('../assets/img/bg/kamin.png') no-repeat right bottom;

  &-wrapper {
    max-width: 780px;
  }

  &-title {
    margin-bottom: 12px;

    font-size: 64px;
    line-height: 125%;
    letter-spacing: 0.05em;
    text-align: left;

    background: linear-gradient(226.43deg, #ffffff 49.37%, rgba(255, 255, 255, 0) 99.78%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  &-subtitle {
    margin-bottom: 108px;
    margin-top: 0;

    font-weight: 300;
    font-size: 36px;
    line-height: 222%;
    letter-spacing: 0.05em;

    color: $yellow;

    &__small {
      font-size: 18px;
    }
  }

  &-features {
    display: flex;
    column-gap: 80px;
    width: 291px;

    &-item {
      position: relative;

      font-weight: 300;
      font-size: 14px;
      line-height: 157%;
      text-align: center;

      &::before {
        position: absolute;
        top: -50px;
        left: calc(50% - 15px);
        content: '';

        width: 30px;
        height: 30px;
      }

      &:first-child::before {
        background: url('../assets/img/icons/css/svg/sprite.css-11461224.svg') 0 73.52941176470588% no-repeat;
      }

      &:last-child::before {
        background: url('../assets/img/icons/css/svg/sprite.css-11461224.svg') 30.612244897959183% 73.52941176470588% no-repeat;
      }
    }
  }
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url('../assets/img/bg/main-gradient.png') no-repeat top -100px left 150px;
  background-size: 91%;

  &-title {
    width: 100%;
    margin-bottom: 21px;

    line-height: 150%;
    text-align: center;
    letter-spacing: 0.07em;

    background: linear-gradient(240.22deg, #ffffff 31.8%, rgba(255, 255, 255, 0) 87.73%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  &-subtitle {
    margin: auto;

    font-weight: 300;
    font-size: 20px;
    line-height: 165%;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &-image {
    margin: -15px auto 0;
  }

  &-features {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 150px;

    &-item {
      position: relative;

      display: flex;
      justify-content: space-between;
      align-items: center;

      max-width: 247px;
      max-height: 75px;
      padding-left: 70px;

      font-weight: 300;
      font-size: 16px;
      line-height: 150%;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';

        width: 40px;
        height: 50px;
      }

      &:first-child::before {
        background: url('../assets/img/icons/css/svg/sprite.css-11461224.svg') 51.21951219512195% 0 no-repeat;
      }

      &:nth-child(2)::before {
        width: 45px;

        background: url('../assets/img/icons/css/svg/sprite.css-11461224.svg') 0 0 no-repeat;
      }

      &:last-child::before {
        background: url('../assets/img/icons/css/svg/sprite.css-11461224.svg') 100% 0 no-repeat;
      }
    }
  }
}

.fuel {
  position: relative;

  display: flex;
  width: 100%;
  padding: 193px 0 110px 208px;

  &-descripton {
    max-width: 370px;
  }

  &-title {
    margin-bottom: 24px;

    text-align: left;

    background: linear-gradient(233.62deg, #ffffff 48.79%, rgba(255, 255, 255, 0));
    background-clip: text;
    -webkit-background-clip: text;
  }

  &-text {
    font-size: 18px;
    line-height: 183%;
  }

  &-paragraph {
    margin: 0;

    &:first-child {
      margin-bottom: 33px;
    }
  }

  &-card {
    position: relative;
  }

  &-summary-wrapper {
    position: absolute;
    right: -150px;
    top: -250px;
    width: 790px;
    height: 790px;

    background: url('../assets/img/bg/fuel-gradient.png') no-repeat;
    background-size: contain;
  }

  &-summary {
    position: absolute;
    top: 336px;
    right: 197px;
    width: 150px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #000000;
    border-radius: 50%;
    background: radial-gradient(100% 65.98% at 100% 73.18%, #ffffff 0.31%, #ffe2a4 59.23%, #ffd47c 100%);

    &::before {
      position: absolute;
      top: 203px;
      right: 145px;
      content: '';

      width: 195px;
      height: 195px;
      box-sizing: border-box;

      border: 2px solid $yellow;
      border-radius: 50%;
      filter: drop-shadow(0px 8px 35px #ffe2a4);
    }

    &::after {
      position: absolute;
      top: 155px;
      right: 320px;
      content: '';

      width: 98px;
      height: 98px;
      box-sizing: border-box;

      border: 1px solid $yellow;
      border-radius: 50%;
      filter: drop-shadow(0px 8px 35px #ffe2a4);
    }

    &-title {
      font-family: 'Scania Sans CY font';
      font-size: 36px;
      line-height: 20px;
      font-weight: bold;
      text-align: center;

      &_small {
        font-size: 14px;
      }
    }

    &-desc {
      font-size: 10px;
      line-height: 14px;
      text-align: center;
    }
  }

  &-image {
    margin-left: 122px;
    margin-top: -20px;
  }

  &-feature {
    position: absolute;
    bottom: 60px;
    left: 40px;

    font-size: 14px;
    line-height: 171%;

    &::before,
    &::after {
      position: absolute;
      top: -40px;

      width: 20px;
      height: 20px;

      content: '';
    }

    &::before {
      left: 0;
      background: url('../assets/img/icons/css/svg/sprite.css-11461224.svg') 55.55555555555556% 64.1025641025641% no-repeat;
    }

    &::after {
      left: 88px;
      background: url('../assets/img/icons/css/svg/sprite.css-11461224.svg') 74.07407407407408% 64.1025641025641% no-repeat;
    }

    &-item:first-child::before {
      position: absolute;
      top: -30px;
      left: 40px;
      content: '';

      width: 30px;
      height: 1px;

      background-color: #949494;
    }
  }
}

.about {
  max-width: 1200px;
  margin: 0 auto 105px;

  &-title {
    position: relative;

    display: flex;
    justify-content: space-between;
    width: 64%;
    margin: 0 auto 30px;

    text-align: center;

    background: linear-gradient(247.29deg, #ffffff 55.25%, rgba(255, 255, 255, 0) 110.81%);
    background-clip: text;
    -webkit-background-clip: text;

    &::after {
      position: absolute;
      top: 25px;
      left: calc(50% - 20px);
      content: '';

      width: 40px;
      height: 2px;

      background-color: #949494;
    }
  }

  &-subtitle {
    margin-bottom: 11px;

    font-weight: 300;
    font-size: 20px;
    line-height: 165%;
    text-align: center;
  }

  &-image {
    display: block;
    margin: 0 auto 65px;

    &-container {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        bottom: 170px;

        font-size: 14px;
        line-height: 236%;
        font-weight: 500;

        color: #464239;
      }

      &::before {
        content: 'Яндекс.Алиса';
        left: 275px;
      }

      &::after {
        content: 'Mi Home Xiaomi';
        right: 235px;
      }
    }
  }

  &-description {
    display: flex;
    gap: 83px 87px;
    flex-wrap: wrap;

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 46%;
    }

    &-title {
      margin-bottom: 32px;

      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
    }

    &-title.personaloffer {
      line-height: 167%;
    }

    &-title.ready {
      line-height: 163%;
    }

    &-img-container {
      position: relative;
      margin: 50px 0 0;
    }

    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 193%;

      &_figcaption {
        position: absolute;
        top: -55px;
        left: 0;

        height: 36px;

        border-bottom: 1px solid rgba(255, 207, 122, 0.72);

        &::after {
          position: absolute;
          bottom: -1px;
          right: 0;
          content: '';

          width: 50px;
          height: 1px;

          background-color: $yellow;
          transform-origin: 100%;
          transform: rotate(-125deg);
        }
      }

      &_fuelblock,
      &_complect {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 95px;
      }

      &_fuelblock {
        max-width: 380px;
        max-height: 55px;
        margin-bottom: 55px;

        &-item {
          max-width: 155px;
        }
      }

      &_complect {
        max-height: 165px;
        margin-top: 18px;
      }
    }

    &-subtitle {
      margin: 27px 0 10px;

      font-weight: 400;
      font-size: 18px;
      line-height: 150%;

      color: #757575;
    }

    &-slider {
      margin-top: 35px;
    }
  }

  &-btns {
    position: absolute;
    bottom: 45px;
    left: 40px;

    column-gap: 16px;
  }
}

.slider-btn {
  width: auto;
  display: flex;

  &_prev {
    width: 18px;
    height: 18px;
    background: url('../assets/img/icons/css/svg/sprite.css-11461224.svg') 0 100% no-repeat;
  }

  &_next {
    width: 18px;
    height: 18px;
    background: url('../assets/img/icons/css/svg/sprite.css-11461224.svg') 90.9090909090909% 62.5% no-repeat;
  }
}

.getcatalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;

  background: url('../assets/img/bg/btn-shadow.png') no-repeat bottom -30px center;

  &-title {
    margin-bottom: 35px;

    font-size: 30px;
    line-height: 147%;
    text-align: center;
    font-weight: 300;
  }
}

.cases {
  padding-bottom: 20px;
  margin-bottom: 70px;

  &-title {
    background: linear-gradient(249.07deg, #ffffff 36.17%, rgba(255, 255, 255, 0) 97.71%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.production {
  padding-bottom: 20px;
  margin-bottom: 75px;

  &-title {
    background: linear-gradient(239.18deg, #ffffff 25.25%, rgba(255, 255, 255, 0.07) 95.17%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.carousel {
  display: flex;
  justify-content: space-between;
  max-width: 1196px;
  margin: auto;
}

.constructor {
  max-width: 1200px;
  margin: auto;

  &-title {
    width: 100%;

    background: linear-gradient(235.41deg, #ffffff 28.47%, rgba(255, 255, 255, 0.18) 91.88%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  &-form {
    width: 100%;

    &-container {
      display: flex;
      justify-content: space-between;
      height: 375px;
      margin-bottom: 68px;
    }
  }
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 577px;

  &-label {
    width: 100%;

    font-size: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.5);

    &_checkbox {
      font-weight: 500;
      font-size: 14px;
      line-height: 214%;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &-range {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-span {
      font-weight: 500;
      font-size: 18px;
    }

    &-input {
      width: 410px;
      height: 30px;

      background-color: $bg;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      overflow: hidden;
      border: none;

      &::-webkit-slider-thumb {
        width: 30px;
        height: 30px;
        margin-top: -15px;

        background: $yellow;
        cursor: pointer;
        border-radius: 3px;
        -webkit-appearance: none;
      }

      &::-moz-range-thumb {
        width: 30px;
        height: 30px;

        background: $yellow;
        cursor: pointer;
        border-radius: 3px;
        border: none;
        outline: none;
        appearance: none;
      }

      &::-webkit-slider-runnable-track {
        border: none;
        height: 2px;
        background-color: $yellow;
      }

      &::-moz-range-track {
        border: none;
        height: 2px;
        background-color: #646464;
      }

      &::-moz-range-progress {
        background-color: $yellow;
        height: 2px;
        margin-top: 3px;
        border: none;
      }
    }
  }

  &-getpanel {
    position: relative;

    max-width: 327px;

    &-btn_prev,
    &-btn_next {
      position: absolute;
      top: calc(50% - 9px);
    }

    &-btn_next {
      right: 15px;

      height: 18px;
    }

    &-img {
      margin-left: 33px;
    }
  }

  &-face-panel {
    display: none;

    &-btn {
      height: 1px;
      margin-top: -15px;
    }

    &-container {
      display: flex;
      justify-content: center;
      column-gap: 5px;
      width: 327px;
    }

    &-label {
      display: inline-block;
      width: 15px;
      height: 1px;
      margin-top: -15px;

      cursor: pointer;
      background-color: #464239;
      user-select: none;
    }

    :checked + &-label {
      background-color: $yellow;
    }
  }

  &-checkboxcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 140px;
    width: 100%;
    height: 120px;

    &-btn {
      display: flex;
      justify-content: space-between;
      width: 217px;
    }

    &-input {
      order: 1;
      position: absolute;
      z-index: -1;
      opacity: 0;

      & + label {
        position: relative;
        display: inline-flex;
        width: 217px;
        align-items: center;
        user-select: none;

        &::after {
          position: absolute;
          right: 0;
          content: '';
          display: inline-block;
          width: 1.5em;
          height: 1.5em;
          border: 1px solid $yellow;
          border-radius: 0.25em;
        }
      }

      &:checked + label::after {
        background: url('../assets/img/icons/add.png') no-repeat center center;
        background-color: $yellow;
      }
    }
  }
}
