$yellow: #ffcf7a;
$gray: #949494;

@media only screen and (max-width: 1200px) {
  .header,
  .about,
  .promo,
  .carousel,
  .constructor,
  .footer,
  .footer-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .promo {
    &-image {
      max-width: 90vw;
      height: auto;
    }

    &-features {
      padding: 0;
    }
  }

  .fuel {
    padding-left: 50px;
    width: 100vw;
    overflow-x: hidden;
  }

  .about {
    &-description {
      justify-content: center;
    }

    &-image {
      max-width: 80vw;
      height: auto;
      margin: auto;

      &-container {
        margin: 0;

        &::before,
        &::after {
          bottom: 35%;
        }

        &::before {
          content: 'Яндекс.Алиса';
          left: 25%;
        }

        &::after {
          content: 'Mi Home Xiaomi';
          right: 25%;
        }
      }
    }
  }

  .carousel {
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .constructor {
    &-form-container {
      justify-content: center;
      row-gap: 50px;
    }
  }

  .form {
    align-items: center;
    row-gap: 25px;

    &-range {
      width: 100%;
    }
  }

  .footer {
    &-contacts {
      max-height: 100%;
    }
  }
}

@media only screen and (max-width: 998px) {
  .header {
    background-position: right bottom;
    background-size: 50%;
  }

  .hero {
    background-size: 50%;
  }

  .promo {
    background-position: top 70px left 109px;
  }

  .fuel {
    flex-wrap: wrap;
    padding-top: 80px;

    &-descripton {
      max-width: 70vw;
      margin: auto;
    }
  }

  .about {
    &-image-container {
      &::before,
      &::after {
        content: '';
      }
    }
  }
}

@media only screen and (max-width: 930px) {
  .navigationlist {
    display: none;
  }

  .nav-mobile {
    position: absolute;
    top: 100px;
    right: 40%;
    z-index: 10;

    width: 40px;
    height: 25px;

    cursor: pointer;

    & span {
      position: absolute;
      top: 7px;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: $gray;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 40px;
        height: 2px;

        background-color: $gray;
        transition-property: background-color, transform;
        transition-duration: 0.3s;
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .title {
    font-size: 1.8em;
  }

  .header {
    background: none;
    margin-bottom: 100px;
  }

  .hero {
    background: none;

    &-title {
      max-width: 90vw;

      font-size: 40px;
    }

    &-features {
      margin: auto;
    }
  }

  .promo {
    background: none;

    &-image {
      background: url('../assets/img/bg/main-gradient.png') no-repeat top -50px center;
      background-size: 60%;
    }

    &-features {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  }

  .fuel {
    &-image {
      width: 80vw;
      height: auto;
    }

    &-summary {
      left: 0;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  .form {
    &-footer {
      flex-wrap: wrap;

      &-label {
        width: 40vw;
      }
    }

    &-checkboxcontainer {
      column-gap: 0;
    }
  }

  .aside {
    padding-top: 30px;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    height: auto;

    &-logo,
    &-agreement {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 592px) {
  .hero {
    &-title {
      font-size: 32px;
    }
  }

  .getcatalog-title {
    margin-left: 20px;
    margin-right: 20px;
  }

  .about {
    &-description {
      &-slider {
        width: 90vw;
      }

      &-item {
        width: 90vw;
      }

      &-text {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        flex-direction: row;
        justify-content: space-between;
        max-height: 100%;

        &_figcaption::after {
          display: none;
        }

        & > li {
          width: 35vw;
        }

        &_fuelblock {
          max-width: 100%;
        }
      }
    }
  }

  .promo {
    &-image {
      margin: 0 0 40px;
      background-size: 50%;
      background-position-y: center;
    }
  }

  .fuelblock-image {
    width: 90vw;
  }

  .fuel {
    padding-left: 50px;
    padding-right: 50px;

    &-summary {
      left: 22%;
    }

    &-image {
      margin: 0;
      width: 90vw;
    }
  }

  .constructor {
    &-img {
      width: 100%;
      height: auto;
    }
  }

  .form {
    width: 90vw;

    &-checkboxcontainer {
      flex-wrap: nowrap;
      align-items: center;
      height: 100%;
    }

    &-range-input {
      width: 50vw;
    }
  }

  .footer {
    &-contacts {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 592px) {
}
