@font-face {
  font-family: 'Lab Grotesque';
  font-style: thin;
  font-weight: 100;
  src: local('Lab Grotesque'), url('../assets/fonts/LabGrotesque-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-style: normal;
  font-weight: 300;
  src: local('Lab Grotesque'), url('../assets/fonts/LabGrotesque-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Lab Grotesque';
  font-style: bold;
  font-weight: 500;
  src: local('Lab Grotesque'), url('../assets/fonts/LabGrotesque-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Scania Sans CY font';
  font-style: normal;
  font-weight: 400;
  src: local('Scania Sans CY font'), url('../assets/fonts/ScaniaSansCY-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Scania Sans CY font';
  font-style: bold;
  font-weight: 700;
  src: local('Scania Sans CY font'), url('../assets/fonts/ScaniaSansCY-Bold.woff2') format('woff2');
}

@import './libs';

$link-hover: #ffcf7a;

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;

  &:visited {
    color: #ffffff;
  }

  &:hover {
    color: $link-hover;
  }

  &:focus {
    color: $link-hover;
  }

  &:active {
    color: $link-hover;
  }
}

.title {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: 40px;
  line-height: 138%;
  text-align: center;

  background-color: #ffffff;
  color: transparent;
}

.hidden {
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
}

.btn {
  border: none;
  cursor: pointer;

  &_big {
    height: 60px;
    padding: 15px 60px;

    background-image: url('../assets/img/bg/btn-bg.png');

    &:hover {
      box-shadow: 0 0 15px $link-hover;
    }
  }
}
