.svg-close {
    background: url("svg/sprite.css-5bd8c59e.svg") 100% 0 no-repeat;
}

.svg-close-dims {
    width: 40px;
    height: 40px;
}

.svg-fire {
    background: url("svg/sprite.css-5bd8c59e.svg") 51.21951219512195% 0 no-repeat;
}

.svg-fire-dims {
    width: 46px;
    height: 46px;
}

.svg-gear {
    background: url("svg/sprite.css-5bd8c59e.svg") 0 73.52941176470588% no-repeat;
}

.svg-gear-dims {
    width: 30px;
    height: 30px;
}

.svg-hose_1 {
    background: url("svg/sprite.css-5bd8c59e.svg") 55.55555555555556% 64.1025641025641% no-repeat;
}

.svg-hose_1-dims {
    width: 20px;
    height: 20px;
}

.svg-next {
    background: url("svg/sprite.css-5bd8c59e.svg") 90.9090909090909% 62.5% no-repeat;
}

.svg-next-dims {
    width: 18px;
    height: 18px;
}

.svg-plane {
    background: url("svg/sprite.css-5bd8c59e.svg") 30.612244897959183% 73.52941176470588% no-repeat;
}

.svg-plane-dims {
    width: 30px;
    height: 30px;
}

.svg-power-button {
    background: url("svg/sprite.css-5bd8c59e.svg") 74.07407407407408% 64.1025641025641% no-repeat;
}

.svg-power-button-dims {
    width: 20px;
    height: 20px;
}

.svg-prev {
    background: url("svg/sprite.css-5bd8c59e.svg") 0 100% no-repeat;
}

.svg-prev-dims {
    width: 18px;
    height: 18px;
}

.svg-water {
    background: url("svg/sprite.css-5bd8c59e.svg") 0 0 no-repeat;
}

.svg-water-dims {
    width: 42px;
    height: 50px;
}

