.svg-close {
    background: url("svg/sprite.css-65b4205b.svg") 19.642857142857142% 83.05084745762711% no-repeat;
}

.svg-close-dims {
    width: 40px;
    height: 40px;
}

.svg-fire {
    background: url("svg/sprite.css-65b4205b.svg") 9.502262443438914% 92.45283018867924% no-repeat;
}

.svg-fire-dims {
    width: 46px;
    height: 46px;
}

.svg-gear {
    background: url("svg/sprite.css-65b4205b.svg") 27.94759825327511% 71.01449275362319% no-repeat;
}

.svg-gear-dims {
    width: 30px;
    height: 30px;
}

.svg-hose_1 {
    background: url("svg/sprite.css-65b4205b.svg") 40.17094017094017% 62.0253164556962% no-repeat;
}

.svg-hose_1-dims {
    width: 20px;
    height: 20px;
}

.svg-lines {
    background: url("svg/sprite.css-65b4205b.svg") 0 0 no-repeat;
}

.svg-lines-dims {
    width: 488px;
    height: 49px;
}

.svg-next {
    background: url("svg/sprite.css-65b4205b.svg") 48.51063829787234% 60.49382716049383% no-repeat;
}

.svg-next-dims {
    width: 18px;
    height: 18px;
}

.svg-plane {
    background: url("svg/sprite.css-65b4205b.svg") 34.49781659388646% 71.01449275362319% no-repeat;
}

.svg-plane-dims {
    width: 30px;
    height: 30px;
}

.svg-power-button {
    background: url("svg/sprite.css-65b4205b.svg") 44.44444444444444% 62.0253164556962% no-repeat;
}

.svg-power-button-dims {
    width: 20px;
    height: 20px;
}

.svg-prev {
    background: url("svg/sprite.css-65b4205b.svg") 52.340425531914896% 60.49382716049383% no-repeat;
}

.svg-prev-dims {
    width: 18px;
    height: 18px;
}

.svg-water {
    background: url("svg/sprite.css-65b4205b.svg") 0 100% no-repeat;
}

.svg-water-dims {
    width: 42px;
    height: 50px;
}

